src/Dynamic/bin/*
src/Dynamic/obj/*

src/Offline/bin/*
src/Offline/obj/*

src/Online/bin/*
src/Online/obj/*
src/Online/legal/*
src/Online/wwwroot/Scripts/*
src/Online/wwwroot/js/*


src/Templates/bin/*
src/Templates/obj/*

**/.ionide/*
**/.vs/*
*.user

build/*

tools/*